<ion-view view-title="Vapes">
  <ion-content class="padding background-light">

  <section >
    <div ng-repeat="vape in flavors" ng-click="showVape(vape)" class="flex-container">
    	<div class="flex-1">
    		<img src="{{vape.image}}" class="image">
    	</div>
    	<div class="flex-2 relative-row">
        <button class="button-top button-small button-light button" ng-click="removeVape($event, vape)">Remove</button>
    		<h2>{{vape.name}}</h2>
        <h3>{{vape.maker}}</h3>

      	<div class="container" ng-if="vape.smoothness">
      		<div>Smoothness</div>
      		<div class="line" ng-style="{ 'width' : vape.smoothness + '0%' }"></div>
      	</div>

      	<div class="container" ng-if="vape.sweetness">
      		<div>Sweetness</div>
      		<div class="line" ng-style="{ 'width' : vape.sweetness + '0%' }"></div>
      	</div>

      	<div class="container" ng-if="vape.vapor">
      		<div>Vapor</div>
      		<div class="line" ng-style="{ 'width' : vape.vapor + '0%' }"></div>
      	</div>

      	<div class="container" ng-if="vape.throatHit">
      		<div>Throat hit</div>
      		<div class="line" ng-style="{ 'width' : vape.throatHit + '0%' }"></div>
      	</div>

			</div>
    </div>
  </section>
<!-- 	<button class="button button-block button-positive" ng-click="createVape()">Add Vape</button> -->
  
  </ion-content>
</ion-view>
