<ion-view view-title="Vapes">
  <ion-content class="padding background-light">

  <section >
    <div ng-repeat="vape in flavors" ng-click="showVape(vape)" class="vape-item">
      <h2 class="title vape-title stable">{{vape.name}}</h2>
      <h4 class="vape-subtitle title stable">{{vape.maker}}</h4>
      <button class="button-top remove-button" ng-click="removeVape($event, vape)">X</button>

      <div class="flex-container">
        <div class="flex-1">
          <img src="{{vape.image}}" class="vape-image">
        </div>
        <div class="flex-2 relative-row">
        
          

          <div class="container" ng-if="vape.smoothness">
            <div>Smoothness</div>
            <div class="line" ng-style="{ 'width' : vape.smoothness + '0%' }"></div>
          </div>

          <div class="container" ng-if="vape.sweetness">
            <div>Sweetness</div>
            <div class="line" ng-style="{ 'width' : vape.sweetness + '0%' }"></div>
          </div>

          <div class="container" ng-if="vape.vapor">
            <div>Vapor</div>
            <div class="line" ng-style="{ 'width' : vape.vapor + '0%' }"></div>
          </div>

          <div class="container" ng-if="vape.throatHit">
            <div>Throat hit</div>
            <div class="line" ng-style="{ 'width' : vape.throatHit + '0%' }"></div>
          </div>
        </div>
      </div>


    </div>
  </section>
<!-- 	<button class="button button-block button-positive" ng-click="createVape()">Add Vape</button> -->
  
  </ion-content>
</ion-view>
