<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-background-royal tabs-color-light permanent-marker">


  <!-- Dashboard Tab -->
  <ion-tab title="Vapes" href="#/tab/vapes">
    <ion-nav-view name="tab-vapes"></ion-nav-view>
  </ion-tab>


  
  <ion-tab title="Add Vape" href="#/tab/add">
    <ion-nav-view name="add-vape"></ion-nav-view>
  </ion-tab>
<!-- 
  
  <ion-tab title="Friends" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>
 -->

  <!-- Account Tab -->
<!--   <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->


</ion-tabs>
