.range input.flex-2  , .flex-2 {
	-webkit-box-flex: 2;
	-webkit-flex: 2;
	-moz-box-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.line {
	height: 3px;
	background: $positive;
}

.flex-container{
	display: -webkit-flex;
	display: flex;
	align-items: center;
	align-content: center;
	border-bottom: 1px solid rgba($positive,0.2);
	padding-bottom: 20px;
}

.vape-image {
	width: 100%;
	clip-path: circle(40% at center);
	-webkit-clip-path:circle(40% at center);
}

.button-top {
	position: absolute;
	top:0;
	right:0;
}
.relative-row{
	position: relative;
	margin-left:20px;
}

.container{
	text-transform: uppercase;
}

.remove-button{
	display: none;
}



@mixin permanent-marker(){
	font-family: 'Permanent Marker', cursive;
}

@mixin gloria(){
	font-family: 'Gloria Hallelujah', cursive;
}


.permanent-marker .tab-item, button, select, textarea , .title  , .range{ 
	@include permanent-marker;
}


input[type="text"] {
	background-color: $light;
	color: $stable;
	font-size:20px;
	line-height:20px;
}


.tab-item {
	font-size: 24px;
}

.bar.bar-positive .title {
	color:$light;
	font-size: 24px;
}

.background-light {
	background-color: $light;
}

.vape-title {
	margin: 0;
	text-align: center;
}

.vape-subtitle {
	margin: 0;
	line-height: 10px;
	text-align: center;
	color: rgba($stable, 0.8);
}

.vape-item{
	padding-top:20px;
}


.container {
	color: $positive;
	
}